{
  "presets": [
    "expo"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "react-native-ios-kit": "..",
        "react-native-vector-icons": "@expo-vector-icons"
      }
    }]
  ]
}
