{
  "extends": "../.eslintrc",

  "settings": {
    "import/core-modules": [
      "react-native-ios-kit",
      "react-native-ios-kit/types"
    ]
  },

  "rules": {
    "react/prop-types": "off"
  }
}
